<app-navbar></app-navbar>
<app-filter></app-filter>
<h1>home</h1>
<!-- <app-test></app-test> -->
<app-filter></app-filter>
<a routerLink="/about">About Pe Jao</a> <br>


<!-- user.component.html --> -->
<div>

  <h2>User Information</h2>

  <ul>

    <li *ngFor="let user of users">


      <p>ID:{{user.id}}</p>
      <p>Name: {{ user.first_name }}</p>
      <p>Last Name: {{ user.last_name }}</p>
      <p>Email :{{user.email}}</p>
      <p>Gender :{{user.gender}}</p>
      <p>Domain :{{user.domain}}</p>
      <p>Available :{{user.available}}</p>
      <img src={{user.avatar}} alt="haifuisd">



    </li>
  </ul>

  <div>


    <button (click)="prevPage()" [hidden]="currentPage === 1">Previous Page</button>
    <button (click)="nextPage()" [hidden]="isLastPage()">Next Page</button>

    <div>
      Page no. {{getCurrentPage()}}
      <!-- <span>of</span> {{getTotalPages()}} -->
    </div>

  </div>


</div>


